<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/static/style.css">

    <style>
        .cad-img {
            width: 130px;
            display: block;
            margin: 0 auto 15px auto;
        }
    </style>
</head>

<body id="ivysaur">

    <div class="container">

        <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/002.png"
             class="cad-img">

        <h2>Criar Conta</h2>

        <form action="/criar_conta" method="POST">
            <input type="text" name="nome" placeholder="Seu Nome" required>
            <input type="email" name="email" placeholder="Seu E-mail" required>
            <input type="password" name="senha" placeholder="Sua Senha" required>
            <button type="submit">Cadastrar</button>
        </form>

        <p>Já tem conta? <a href="/">Fazer Login</a></p>

    </div>
</body>
</html>
