<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="venusaur">
    <!-- laterais -->
    <img class="side-img left" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/003.png" alt="Venusaur esquerda">
    <img class="side-img right" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/003.png" alt="Venusaur direita">

    <div class="container">
        <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/003.png" class="logo" alt="Venusaur">
        <h2>Bem-vindo, {{ usuario }}!</h2>
        <p>Você está logado com sucesso.</p>

        <div style="margin-top:18px">
            <a class="btn" href="{{ url_for('logout') }}">Sair</a>
            <a class="btn" href="{{ url_for('login') }}">Voltar ao Login</a>
        </div>
    </div>
</body>
</html>
